<% if @errors && @errors.count > 0 %>
	<%= render partial: "layouts/show_errors", locals: {objects: @errors } %>
<% end %>
<% if signed_in? %>
	Welcome to Canpass
<% else %>
	<h1>Sign in</h1>
	<div class="row">
		<div class="span6 offset3">
			<%= form_for(:session, url: sessions_path) do |f| %>
				<%= f.label "Email" %>
				<%= f.text_field :email, maxlength: "255" %>
				<%= f.label "Password" %>
				<%= f.password_field :password %>
				<%= f.label "Language" %>
				<select name="language">
					<option value="ja">Japanese</option>
					<option value="en">English</option>
				</select>
				<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      		<% end %>
		</div>
	</div>
<% end %>
<%= link_to "Resend password", "javascript:void(0)", id: "resend_password" %>
<div id="resend_password_form" style="display: none" class="row">
	<div class="span6 offset3">
	<%= form_tag(resend_password_sessions_path, method: :post) do %>
		<%= label_tag "Email" %>
		<%= text_field_tag "email"%>
		<%= label_tag "Captcha" %>
		<%= recaptcha_tags %>
		<%= submit_tag "Send" %>
	<% end %>
	<% if @form_errors && @form_errors.count > 0 %>
		<% @form_errors.each do |error| %>
			<div>
				<%= error %>
			</div>
		<% end %>
		<script type="text/javascript">
			$("#resend_password_form").show();
		</script>
	<% end %>
	<%= flash[:success]%>
</div>
</div>
<div id="rss">
	<% @feed.entries.each do |entry|%>
		<a href="<%= raw entry.url %>"><%= raw entry.title %></a>
		<br>
	<% end %>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#resend_password").click(function(){
			$("#resend_password_form").toggle();
		})
	})
</script>