<% if @errors && @errors.count > 0 %>
    <script type="text/javascript">
        $("#resend_password_form").show();
    </script>
<% end %>
<%= flash[:success] %>
<% if signed_in? %>
    Welcome to Canpass
<% else %>
    <div id="infobox">
      <div class="infoboxHeadtxt">
        <p class="bold"><%= I18n.t("login.announcements")%></p>
      </div>
     <%= raw @feed %>
    </div>

    <div id="pressbox">
      <div class="pressboxHeadtxt">
        <p class="bold">プレスリリース</p>
      </div>

      <% @press_release.each do |press| %>
          <ul>
            <li><span><%= press.release_time %></span></li>
            <li><%= press.content %> </li>
          </ul>
      <% end %>
    </div>
<% end %>
<script type="text/javascript">
    $(document).ready(function () {
        $("#resend_password").click(function () {
            $("#resend_password_form").toggle();
        })
    })
</script>