<% if @errors && @errors.count > 0 %>
    <% @errors.each do |error| %>
        <div>
          <span class="text-validationError"><%= error %></span>
        </div>
    <% end %>
    <script type="text/javascript">
        $("#resend_password_form").show();
    </script>
<% end %>
<%= flash[:success] %>
<% if signed_in? %>
    Welcome to Canpass
<% else %>
    <div id="infobox">
      <div class="infoboxHeadtxt">
        <p class="bold">お知らせ</p>
      </div>
      <% @feed.entries.each do |entry| %>
          <ul>
            <li><a href="<%= raw entry.url %>"><%= raw entry.title %></a></li>
          </ul>
      <% end %>
    </div>

    <div id="pressbox">
      <div class="pressboxHeadtxt">
        <p class="bold">プレスリリース</p>
      </div>

      <% @press_release.each do |press| %>
          <ul>
            <li><span><%= press.release_time %></span></li>
            <li><%= press.content %> </li>
          </ul>
      <% end %>
    </div>
<% end %>
<script type="text/javascript">
    $(document).ready(function () {
        $("#resend_password").click(function () {
            $("#resend_password_form").toggle();
        })
    })
</script>