<%= f.label "Tracking type" %>
<%= f.radio_button :track_type, 0, checked: true, onclick: "render_install();" %>
<%= f.label "Install" %>
<%= f.radio_button :track_type, 1, onclick: "render_action();" %>
<%= f.label "Action in App" %><br />

<div id="type_area">
  <%= render "app_install", f: f %>
</div>

<script>
  function render_install() {
    $('#type_area').html('<%=j render "app_install", f: f %>')
  }
  function render_action() {
    $('#type_area').html('<%=j render "app_action_in_app", f: f %>')
  }
</script>
