
<table>
<tr>
  <th><%= f.label "OS指定：" %></th>
  <td colspan="2"><label>
    <%= f.radio_button :os, 0, checked: true, onclick: "render_ios();" %>iOS
  </label></td>
  <td colspan="2"><label>
    <%= f.radio_button :os, 1, onclick: "render_android();" %>Android
  </label></td>
</tr>
<tr>
  <th><%= f.label "計測媒体：" %></th>
  <td>
    <%= f.radio_button :conversion_mode, 0, checked: true, onclick: "render_fb_app_id();" %>全て
  </td>
  <td>
    <%= f.radio_button :conversion_mode, 1, onclick: "render_fb_app_id();" %>Facebookのみ
 </td>
  <td>
    <%= f.radio_button :conversion_mode, 2, onclick: "remove_fb_app_id();" %>その他広告
 </td>
  <td>&nbsp;</td>
</tr>
<tr>
  <th><a href="#"><img src="/assets/icon_help.gif" /></a><%= f.label "重複排除：" %></th>
  <td>
    <%= f.radio_button :duplicate, 0, checked: true %>あり
 </td>
  <td>
    <%= f.radio_button :duplicate, 1 %>なし
 </td>
  <td colspan="2">&nbsp;</td>
</tr>
<tr id="method_area">
  <%= 
	  if(@conversion.os==1)
	  	render "app_install_android", f: f 
	  else	
	  	render "app_install_ios", f: f
	  end
	  %>
</tr>
<tr id="fb_app_id">
  <%= 
	  if(@conversion.conversion_mode!=2)
	  	render "app_install_fb_app_id", f: f
	  end
	  %>
</tr>
<tr>
  <th><%= f.label "ユニーク定義：" %></th>
  <td colspan="4">
    <%= f.select :unique_def, t("conversions.unique_definition").each_with_index.map {|name, index| [name, index]} %>
  </td>
</tr>
<tr>
  <th>&lt;オプション&gt;<br />審査フラグ：</th>
  <td colspan="4"><label>
    <br /><%= f.check_box :judging %>設定する
  </label></td>
</tr>
<tr>
  <th><%= f.label "売上単価：" %></th>
  <td colspan="4">
    <%= f.text_field :sale_unit_price, placeholder: "￥" %>
  </td>
</tr>
<tr>
  <th><%= f.label "報酬型式：" %></th>
  <td colspan="2"><label>
    <%= f.radio_button :reward_form, 0 %>定額型
  </label></td>
  <td colspan="2"><label>
    <%= f.radio_button :reward_form, 1 %>定率型
  </label></td>
</tr>
</table>