<th><%= f.label "計測方法：" %></th>
<td>
  <%= f.radio_button :track_method, 1, checked: true, onclick: "entryChange5();" %>White
</td>
<td>
  <%= f.radio_button :track_method, 2, onclick: "entryChange5();" %>Welcome
</td>
<td colspan="2">
  <%= f.radio_button :track_method, 3, onclick: "entryChange5();" %>custom
  <%= f.text_field :url, id: "url", class: "urlBox", placeholder: "URL必須" %>
</td>
