<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "css/common" %>
  <%= stylesheet_link_tag "css/conversion" %>
<% end %>
<%= javascript_include_tag "js/jquery.chili-2.2.js" %>
<%= javascript_include_tag "js/jquery.bgiframe.js" %>
<%= javascript_include_tag "js/ui.core" %>
<% content_for :sidebar do %>
  <%= render partial: "layouts/sidebar", locals: {object: @conversions} %>
<% end %>
<ul class="contentNavi">
  <li class="pre">
    <%= link_to @promotion.client.client_name, client_path(client_id: @promotion.client_id) %>
  </li>
  <li>&gt;</li>
  <li class="pre">
    <%= link_to @promotion.promotion_name, promotions_path(promotion_id: @promotion.id, client_id: @promotion.client.id) %>
  </li>
  <li>&gt;</li>
  <li><%= I18n.t("conversion.tag_acquisition")%></li>
  <li>/</li>
  <li><%= short_ja_name(@conversion.conversion_name)%></li>
</ul>
<div class="clear"></div>
<div id="conversion_inner">
  <div id="ui-tab">
    <ul class="ui-tabs-nav">
      <li class="disabled"><a href="/conversions/<%= @conversion.id %>/edit?promotion_id=<%= @conversion.promotion_id %>"><span><%= I18n.t("conversion.crumb_edit")%></span></a></li>
      <li><a href="#fragment-1"><span><%= I18n.t("conversion.tag_acquisition")%></span></a></li>
    </ul>
    <div id="fragment-1">
      <% if @conversion.conversion_category == "2" %>
        <div id="fragment-2">
          <div class="conversion_form">
            <div class="tag">
              <p>▼ SDKダウンロード</p>
              <a href="#"><img src="/assets/btn_sdk_01.gif" /></a>
              <a href="#"><img src="/assets/btn_sdk_02.gif" /></a>
              <a href="#"><img src="/assets/btn_sdk_03.gif" /></a>
              <a href="#"><img src="/assets/btn_sdk_04.gif" /></a>
            </div>
            <div class="tag">
              <p>▼ 設定情報</p>
              <table border="0" class="setting_info">
                <tbody>
                  <tr>
                    <th>site id</th>
                    <td id="site_id"><%= @conversion.promotion_id %></td>
                    <td class="copy_button last-child"><div class="copy" data-clipboard-target="site_id"><img src="/assets/btn_copy.gif" /></div></td>
                  </tr>
                  <tr>
                    <th>mv</th>
                    <td id="mv"><%= @conversion.mv %></td>
                    <td class="copy_button last-child"><div class="copy" data-clipboard-target="mv"><img src="/assets/btn_copy.gif" /></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% elsif @conversion.conversion_category == "1" %>
        <div id="fragment-2">
          <div class="conversion_form">
            <div class="tag">
              <p>▼ 計測タグ</p>
              <table border="0" class="setting_info">
                <tbody>
                  <tr>
                    <th>計測タグ</th>
                    <td id="img">
                    </td>
                    <td class="copy_button last-child"><div class="copy" data-clipboard-target="img"><img src="/assets/btn_copy.gif" /></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    var clip = new ZeroClipboard($(".copy"));
  });
</script>
<script type="text/javascript">
  $('#img').html("pid: <%= @conversion.promotion_id%><br />mv: <%= @conversion.mv %>");
  var prot = document.location.protocol;
  document.write(unescape("%3Cscript type=\'text/javascript\' language=\'javascript\' src=\'"
    + prot + "//track.polaris-adm.com/js/conversion.js?" + (new Date().getTime()) + "\'%3E%3C/script%3E"));
  var plrs_pid = <%= @conversion.promotion_id %>;
  var plrs_mv = <%= @conversion.mv %>;
/* 
  // #custom parameter
  var plrs_suid = "";
  var plrs_verify = "";
  var plrs_sales = "";
  var plrs_profit = "";
  var plrs_volume = "";
  var plrs_others = "";
*/
　var polaris = getTrack();
  polaris.main();
</script>
