<script type="text/javascript">
  $(function() {
    $('#ui-tab > ul').tabs();
  });
</script>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "css/conversion" %>
  <%= stylesheet_link_tag "css/common" %>
  <%= stylesheet_link_tag "css/ui.tabs" %>
<% end %>
<%= javascript_include_tag "js/ui.core" %>
<%= javascript_include_tag "js/ui.tabs" %>
<% if flash[:error] %>
  <div><%= flash[:error] %></div>
<% end %>
<% content_for :sidebar do %>
    <%= render partial: "layouts/sidebar", locals: {object: @conversions} %>
<% end %>
<ul class="contentNavi">
  <li class="pre">
    <%= link_to @promotion.client.client_name, clients_path(client_id: @promotion.client_id) %>
  </li>
  <li>&gt;</li>
  <li class="pre">
    <%= link_to @promotion.promotion_name, promotions_path(promotion_id: @promotion.id, client_id: @promotion.client.id) %>
  </li>
  <li>&gt;</li>
  <li>コンバージョン設定</li>
</ul>
<div class="clear"></div>
<div id="conversion_inner">
  <div id="ui-tab">
    <ul class="">
      <li><a href="#fragment-1"><span>コンバージョン設定</span></a></li>
      <li class="disabled"><span>タグ取得</span></li>
    </ul>
    <div id="fragment-1">
      <div class="conversion_form">
        <p>表示したいコンバージョンを選択してください。</p>
      </div>
    </div>
  </div>
</div>