<% if @errors && @errors.count > 0 %>
	<%= render partial: "layouts/show_errors", locals: {objects: @errors } %>
<% end %>
<%= flash[:success] if flash[:success] %>
<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label "User name" %><br />
    <%= f.text_field :username, maxlength: "256" %>
  </div>
  <div class="field">
    <%= f.label "Roman name" %><br />
    <%= f.text_field :roman_name, maxlength: "256" %>
  </div>
  <div class="field">
    <%= f.label "Email" %><br />
    <%= f.text_field :email, maxlength: "256" %>
  </div>
  <div class="field">
    <%= f.label "Role" %><br />
    <select id="user_role_id" name="user[role_id]">
    	<option value="2">Client</option>
		<option value="3">Agency</option>
		<option value="1">Super</option>
	</select>
  </div>
  <div class="field">
    <%= f.label "Company" %><br />
    <%= f.collection_select :company_id, Client.all, :id, :client_name, {} %>
  </div>
  <div class="field">
    <%= f.radio_button :password_flg, "0", checked: true %>
    <%= f.label "Send Password" %>
    <%= f.radio_button :password_flg, "1" %>
    <%= f.label "Dont Send Password" %>
  </div>
  <%= f.submit %>
  <button id="cancel">Cancel</button>
<% end %>
<script type="text/javascript">
	$(document).ready(function(){
		$("#cancel").click(function(e){
			e.preventDefault();
			location.href = "<%= users_path %>";
		})
		last_choice = $("#user_role_id").val();
		$("#user_role_id").change(function(){
			id = $(this).val();
			if ((id == 1 && last_choice == 3) || (id ==3 && last_choice == 1)){
				last_choice = id;
				return;
			}
			last_choice = id;
			name_data = (id == "2") ? "Client" : "Agency";
			$.ajax({
				type: "POST",
				url: "<%= change_company_list_users_path %>",
				data: "model="+name_data,
				success: function(data){
					$("#user_company_id").html("");
					for (var i=0;i < data.length; i++){
						name = (name_data == "Client") ? data[i].client_name : data[i].agency_name;
						option = "<option value='" + data[i].id + "'>" + name + "</option>";
						$("#user_company_id").append(option);
					}
				}
			});
		})
	})
</script>