<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Client name" %><br />
    <%= f.text_field :client_name %>
  </div>
  <div class="field">
    <%= f.label "Roman name" %><br />
    <%= f.text_field :roman_name %>
  </div>
  <div class="field">
    <%= f.label "Tel" %><br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label "person_charge:" %><br />
    <%= f.text_field :person_charge %>
  </div>
  <div class="field">
    <%= f.label "person_charge:" %><br />
    <%= f.number_field :person_sale %>
  </div>
  <div class="field">
    <%= f.label "Contract type" %><br />
    <%= f.radio_button :contract_type, 0, checked: true %> 0
    <%= f.radio_button :contract_type, 1 %> 1
  </div>
  <div class="field">
    <%= f.label "Contract flg" %><br />
    <%= f.radio_button :contract_flg, 0, checked: true %> 0
    <%= f.radio_button :contract_flg, 1 %> 1
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
