<%= render "layouts/prevent_change_page" %>
Edit Client
<%= form_for(@client) do |f| %>
  <div class="field">
    <%= f.label "Client name" %><br />
    <%= f.text_field :client_name, maxlength: 255, style: "width: 250px" %>
  </div>
  <div class="field">
    <%= f.label "Roman name" %><br />
    <%= f.text_field :roman_name, maxlength: 255, style: "width: 250px" %>
  </div>
  <div class="field">
    <%= f.label "Tel" %><br />
    <%= f.text_field :tel, maxlength: 15, style: "width: 250px" %>
  </div>
  <div class="field">
    <%= f.label "person_charge:" %><br />
    <%= f.text_field :person_charge, maxlength: 255, style: "width: 250px" %>
  </div>
  <div class="field">
    <%= f.label "person_sale" %><br />
    <%= f.text_field :person_sale, maxlength: 255, style: "width: 250px" %>
  </div>
  <div class="field">
    <%= f.label "Contract type" %><br />
    <%= f.radio_button :contract_type, 0 %> 0
    <%= f.radio_button :contract_type, 1 %> 1
  </div>
  <div class="field">
    <%= f.label "Contract flg" %><br />
    <%= f.radio_button :contract_flg, 0 %> 0
    <%= f.radio_button :contract_flg, 1 %> 1
  </div>

  List users Added: <br>
	<div id="user_list">
    <% @client.client_users.each do |client_user| %>
      <% if client_user.del_flg == 0 %>
        <%= client_user.user.username %>
        <%= client_user.user.email %>
        <%= client_user.user.role.role_name %>
        <input type="checkbox" name = "del_user_<%= client_user.user_id %>">
        <input type = "hidden" name = "users_id[]" value = "<%= client_user.user_id %>"> <br>
      <% end %>
    <% end %>
    <br>
	</div>
	<input id="tags" placeholder="search"/>
  <%= link_to 'Cancel', clients_path %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
	$(document).ready(function(){
		list_ignore_user = [];
		list_user = [];
		<% @client.client_users.each do |client_user|%>	
			<% if client_user.del_flg == 0 %>
				list_ignore_user.push({"value": "<%= client_user.user.id %>"});
			<% end %>
		<% end %>
		<% User.all.each do |user|%>	
			<% if user.status == 0 %>
				list_user.push({"label": "<%= user.username %>", "value": "<%= user.id %>", "email": "<%= user.email %>", "role": "<%= user.role.role_name %>"});
			<% end %>
		<% end %>
		$(list_ignore_user).each(function(i,data){
			list_user.splice(index_of(list_user,data.value),1);
		});
		$( "#tags" ).autocomplete({
			source: list_user,
			select: function( event, ui ) {
				$("#tags").val(ui.item.label);
				list_user.splice(list_user.indexOf(ui.item),1);
				data = ui.item;
				$("#user_list").append(data.label + " " + data.email + " " + data.role + " ");
				$("#user_list").append("<input type = 'hidden' name='users_id[]' value ='" + data.value + "'>");
				$("#user_list").append("<input type = 'checkbox' name='del_user_" + data.value + "'><br>");
				return false;
			},
			minLength: 0
		}).focus(function () {
    			$(this).autocomplete("search");
			});
	});
</script>
<%= link_to 'New Client', new_client_path %>