<script type="text/javascript">
$(function(){
	prevent_change = "<%= @prevent %>";
	$(".prevent_change").change(function(){
		prevent_change = "1"
	})
})
</script>
<%= stylesheet_link_tag "css/common" %>
<%= render "layouts/prevent_change_page_edit" %>
<% content_for :sidebar do %>
	<%= render partial: "layouts/sidebar", locals: {object: @clients} %>
<% end %>
<p class="h2"><%= I18n.t("client.crumb_edit") %></p>
<%= form_for(@client) do |f| %>
    <div class="regist_form">
      <table class="client_info">
        <tr>
          <th> <%= f.label t("client.client_name") %></th>
          <td colspan="2"><%= f.text_field :client_name, maxlength: 255, style: "width: 250px", class: "prevent_change" %></td>
        </tr>
        <tr>
          <th><%= f.label t("client.roman_name") %></th>
          <td colspan="2"><%= f.text_field :roman_name, maxlength: 255, style: "width: 250px", class: "prevent_change" %> </td>
        </tr>
        <tr>
          <th><%= f.label t("client.tel") %></th>
          <td colspan="2"> <%= f.text_field :tel, maxlength: 15, style: "width: 250px", class: "prevent_change" %>  </td>
        </tr>
        <tr>
          <th><%= f.label t("client.person_charge") %></th>
          <td colspan="2"><%= f.text_field :person_charge, maxlength: 255, style: "width: 250px", class: "prevent_change" %></td>
        </tr>
        <tr>
          <th><%= f.label t("client.person_sale") %></th>
          <td colspan="2"><%= f.text_field :person_sale, maxlength: 255, style: "width: 250px", class: "prevent_change" %></td>
        </tr>
        <tr>
          <th><%= f.label t("client.contract_flg.label") %></th>
          <td style="width: 150px;"><%= f.radio_button :contract_flg, 0, class: "prevent_change" %> <%= I18n.t("client.contract_type.unrecovered") %></td>
          <td style="width: 150px;"><%= f.radio_button :contract_flg, 1, class: "prevent_change" %> <%= I18n.t("client.contract_type.been_recovered") %></td>
        </tr>
        <tr>
          <th><%= f.label t("client.contract_type.label") %></th>
          <td><%= f.radio_button :contract_type, 0, class: "prevent_change" %> <%= I18n.t("client.contract_flg.standard_plan") %></td>
          <td><%= f.radio_button :contract_type, 1, class: "prevent_change" %> <%= I18n.t("client.contract_flg.premium_plan") %></td>
        </tr>
      </table>
      <div class="user_info_add">
        <p><%= I18n.t("client.user_information") %>▼</p>
        <input id="tags" placeholder="<%= I18n.t('client.user_search') %>" maxlength="255" class = "prevent_change"/>
      </div>

      <table id="user_list" class="user_add">
        <thead>
        <tr>
          <th width="170">&nbsp;</th>
          <th width="240">&nbsp;</th>
          <th width="80">&nbsp;</th>
          <th style="width: 70px;">
            <small><%= I18n.t("client.delete") %></small>
          </th>
        </tr>
        </thead>
        <% @client.client_users.active.each do |client_user| %>
        	<%
        		user = client_user.user
        		if user.client?
        			company = Client.find(user.company_id).client_name
        		else
        			company = Agency.find(user.company_id).agency_name
        		end
        	%>
            <tr>
              <th><%= short_ja_name(user.username) %>(<%= short_en_name(company) %>)</th>
              <td><%= short_en_name(user.email) %></td>
              <td><%= user.role.role_name %></td>
              <td><input type="checkbox" name="del_user_<%= user.id %>">
                <input type="hidden" name="users_id[]" value="<%= user.id %>"></td>
            </tr>
        <% end %>
      </table>


      <div class="submit_area">
        <input type="image" id="btn_submit" src="/assets/btn_done.gif">
        <%= link_to raw('<img align="right" alt="キャンセル" src="/assets/btn_cancel.gif">'), clients_path %>
      </div>
    </div>
<% end %>
<script type="text/javascript">
    $(document).ready(function () {
        list_ignore_user = [];
        list_user = [];
        <% @client.client_users.active.each do |client_user|%>
        list_ignore_user.push({"value": "<%= client_user.user.id %>"});
        <% end %>
        <% User.active.each do |user|%>
        <%
        if user.client?
          company = Client.find(user.company_id).client_name
        else
        	company = Agency.find(user.company_id).agency_name
        end
        %>
        list_user.push({"label": "<%= short_ja_name(user.username) %>", "value": "<%= user.id %>", "email": "<%= short_en_name(user.email) %>", "role": "<%= user.role.role_name %>", "company": "<%= short_en_name(company) %>"});
        <% end %>
        $(list_ignore_user).each(function (i, data) {
            list_user.splice(index_of(list_user, data.value), 1);
        });
        $("#tags").autocomplete({
            source: list_user,
            select: function (event, ui) {
            	prevent_change = "1";
                $("#tags").val("");
                list_user.splice(list_user.indexOf(ui.item), 1);
                data = ui.item;
                $("#user_list").append("<tr><th>" + data.label + "(" + data.company + ")</th>" + "<td>" + data.email + "</td><td>" + data.role
                        + "</td><td><input type = 'hidden' name='users_id[]' value ='" + data.value +
                        "'><input type = 'checkbox' name='del_user_" + data.value + "'></td></tr>");
                $(this).blur();
                return false;
            },
            minLength: 0,
            focus: function (e, ui) {
                e.preventDefault();
                this.value = ui.item.label;
            }
        }).focus(function (event) {
                    $(this).autocomplete("search");
                    $("#tags").val("");
                    event.preventDefault();
                });
    });
</script>
