<% if flash[:error] %>
	<div><%= flash[:error] %></div>
<% end %>
<h2><%= @clientName %></h2>
<br />
<table class="flexme4" style="display: none"></table>
<script type="text/javascript">
	$(".flexme4").flexigrid({
		url: "<%= get_promotions_list_clients_path %>",
		dataType: 'json',
		colModel : [
			{display: 'promotion_name', name : 'promotion_name', width : 700, sortable : false, align: 'center'}
			],
	    sortname: "promotion_name",
        sortorder: "desc",
		usepager: true,
		title: 'Promotion Name',
		useRp: true,
		id: "<%= @clientId %>",
		rp: 10,
		showTableToggleBtn: true,
		width: 250,
		height: 250
	});
</script>
<br />
<br />
<div>
<%= 
if(current_user.role_id == Settings.role.SUPER)
  link_to 'New Client', new_client_path
end 
%>
</div>