Client Registration

<% if flash[:error] %>
  <div><%= flash[:error] %></div>
<% end %>

<%= form_for(@client) do |f| %>
  <%= f.label "Client name" %>
  <%= f.text_field :client_name, maxlength: 256, style: "width: 250px"%><br />

  <%= f.label "Roman name" %>
  <%= f.text_field :roman_name, maxlength: 256, style: "width: 250px" %><br />

  <%= f.label "Contact" %>
  <%= f.text_field :tel, maxlength: 15, style: "width: 250px" %><br />

  <%= f.label "Person in charge" %>
  <%= f.text_field :person_charge, maxlength: 256, style: "width: 250px" %><br />

  <%= f.label "Sale representative" %>
  <%= f.text_field :person_sale, maxlength: 256, style: "width: 250px" %><br />

  <%= f.label "Use policy" %>
  <%= f.radio_button :contract_flg, 0, {checked: true} %> No contract
  <%= f.radio_button :contract_flg, 1 %> Have contract<br />

  <%= f.label "Plan type" %>
  <%= f.radio_button :contract_type, 0, {checked: true} %> Standard
  <%= f.radio_button :contract_type, 1 %> Premium<br />

  List users Added: <br />
  <div id="user_list">
    <br />
  </div>
  <%= render "layouts/user_list" %>

  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Cancel', clients_path %>
  </div>
<% end %>
<%= link_to 'New Client', new_client_path %>

<script type="text/javascript">
  $(document).ready(function(){
    list_user = []
    return User.completeProjects(".searchbox input#search_user").result(function(e, data, formatted) {
      if ($.inArray(data[1], list_user) >= 0){
        alert("User was added");
      }else{
        $("#user_list").append(data[0] + " " + data[2] + " " + data[3]);
        $("#user_list").append("<input type = 'hidden' name='users_id[]' value ='" + data[1] + "'>");
        $("#user_list").append("<input type = 'checkbox' name='del_user_" + data[1] + "'>");
        list_user.push(data[1]);
      }
      return false;
    });
  });
</script>
