Client Registration

<% if flash[:error] %>
  <div><%= flash[:error] %></div>
<% end %>

<%= form_for(@client) do |f| %>
  <%= f.label "Client name" %>
  <%= f.text_field :client_name, maxlength: 255, style: "width: 250px"%><br />

  <%= f.label "Roman name" %>
  <%= f.text_field :roman_name, maxlength: 255, style: "width: 250px" %><br />

  <%= f.label "Contact" %>
  <%= f.text_field :tel, maxlength: 15, style: "width: 250px" %><br />

  <%= f.label "Person in charge" %>
  <%= f.text_field :person_charge, maxlength: 255, style: "width: 250px" %><br />

  <%= f.label "Sale representative" %>
  <%= f.text_field :person_sale, maxlength: 255, style: "width: 250px" %><br />

  <%= f.label "Use policy" %>
  <%= f.radio_button :contract_flg, 0, {checked: true} %> No contract
  <%= f.radio_button :contract_flg, 1 %> Have contract<br />

  <%= f.label "Plan type" %>
  <%= f.radio_button :contract_type, 0, {checked: true} %> Standard
  <%= f.radio_button :contract_type, 1 %> Premium<br />

  List users Added: <br />
  <div id="user_list">
    <br />
  </div>
  <input id="tags" placeholder="search" />

  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Cancel', clients_path %>
  </div>
<% end %>
<%= link_to 'New Client', new_client_path %>

<script type="text/javascript">
  $(document).ready(function(){
  	list_user = [];
	<% User.all.each do |user|%>	
		<% if user.status == 0 %>
			list_user.push({"label": "<%= user.username %>", "value": "<%= user.id %>", "email": "<%= user.email %>", "role": "<%= user.role.role_name %>"});
		<% end %>
	<% end %>
	$( "#tags" ).autocomplete({
		source: list_user,
		select: function( event, ui ) {
			$("#tags").val(ui.item.label);
			list_user.splice(list_user.indexOf(ui.item),1);
			data = ui.item;
			$("#user_list").append(data.label + " " + data.email + " " + data.role + " ");
			$("#user_list").append("<input type = 'hidden' name='users_id[]' value ='" + data.value + "'>");
			$("#user_list").append("<input type = 'checkbox' name='del_user_" + data.value + "'><br>");
			return false;
		},
		minLength: 0
	}).focus(function () {
    	$(this).autocomplete("search");
		});
  });
</script>
