<% provide(:title, I18n.t("client.title.add")) %>
<script type="text/javascript">
$(function(){
	prevent_change = "<%= @prevent %>";
	$(".prevent_change").change(function(){
		prevent_change = "1"
	})
})
</script>
<%= stylesheet_link_tag "css/common" %>
<p class="h2"><%= I18n.t("client.crumb_add") %></p>
<%= render "layouts/prevent_change_page_new" %>
<% if flash[:error] %>
    <div><%= flash[:error] %></div>
<% end %>
<% content_for :sidebar do %>
	<%= render partial: "layouts/sidebar", locals: {object: @clients} %>
<% end %>
<%= form_for(@client) do |f| %>
    <div class="regist_form">
      <table class="client_info">
        <tr>
          <th> <%= f.label t("client.client_name") %>  </th>
          <td colspan="2"><%= f.text_field :client_name, maxlength: 255, style: "width: 250px", class: "prevent_change" %></td>
        </tr>
        <tr>
          <th><div style="width: 160px;"><%= f.label t("client.roman_name") %></div></th>
          <td colspan="2"><%= f.text_field :roman_name, maxlength: 255, style: "width: 250px", class: "prevent_change" %>
          </td>
        </tr>

        <tr>
          <th><%= f.label t("client.tel") %>
            <td colspan="2"><%= f.text_field :tel, maxlength: 15, style: "width: 250px", class: "prevent_change" %>
            </td>
        </tr>
        <tr>
          <th>
            <%= f.label t("client.person_charge") %> </th>
          <td colspan="2"><%= f.text_field :person_charge, maxlength: 255, style: "width: 250px", class: "prevent_change" %>
          </td>
        </tr>
        <tr>
          <th><%= f.label t("client.person_sale") %>   </th>
            <td colspan="2"><%= f.text_field :person_sale, maxlength: 255, style: "width: 250px", class: "prevent_change" %>
            </td>
        </tr>
        <tr>
          <th>
            <%= f.label t("client.contract_flg.label") %> </th>
          <td style="width: 150px;"><%= f.radio_button :contract_flg, 0, class: "prevent_change" %> <%= I18n.t("client.contract_type.unrecovered") %></td>
          <td style="width: 150px;"> <%= f.radio_button :contract_flg, 1, {checked: true, class: "prevent_change"} %> <%= I18n.t("client.contract_type.been_recovered") %>
          </td>
        </tr>
        <tr>
          <th><%= f.label t("client.contract_type.label") %></th>
          <td><div style="width: 200px;"><%= f.radio_button :contract_type, 0, {checked: true, class: "prevent_change"} %> <%= I18n.t("client.contract_flg.standard_plan") %></div></td>
          <td><div style="width: 310px;"><%= f.radio_button :contract_type, 1, class: "prevent_change" %> <%= I18n.t("client.contract_flg.premium_plan") %></div>
          </td>
        </tr>
      </table>
      <div class="user_info_add">
        <p><%= I18n.t("client.user_information") %>▼</p>
        <input id="tags" placeholder="<%= I18n.t('client.user_search') %>" maxlength="255" class= "prevent_change"/>
      </div>

      <table id="user_list" class="user_add">
        <thead>
        <tr>
          <th width="170">&nbsp;</th>
          <th width="240">&nbsp;</th>
          <th width="80">&nbsp;</th>
          <th width="70">
            <div style="width: 70px;"><small id="delete_label" style="display:none"><%= I18n.t("client.delete") %></small></div>
          </th>
        </tr>
        </thead>
      </table>
      <div class="submit_area">
        <input type="image" id="btn_submit" src="/assets/btn_done.gif">
        <%= link_to raw('<img align="right" alt="キャンセル" src="/assets/btn_cancel.gif">'), clients_path %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function () {
        list_user = [];
        <% User.active.order_by_roman_name.where('role_id != ?',1).each do |user|%>
        <%
        if user.client?
          company = Client.find(user.company_id).client_name
        else
        	company = Agency.find(user.company_id).agency_name
        end
        %>
        list_user.push({"label": "<%= short_ja_name(user.username) %>", "value": "<%= user.id %>", "email": "<%= short_en_name(user.email) %>", "role": "<%= user.role.role_name %>", "company": "<%= short_ja_name(company) %>"});
        <% end %>
        $("#tags").autocomplete({
            source: list_user,
            select: function (event, ui) {
            	prevent_change = "1";
                $("#tags").val("");
                list_user.splice(list_user.indexOf(ui.item), 1);
                data = ui.item;
                $("#user_list").append("<tr><th>" + data.label + "(" + data.company + ")</th>" + "<td>" + data.email + "</td><td>" + data.role
                        + "</td><td><input type = 'hidden' name='users_id[]' value ='" + data.value +
                        "'><input type = 'checkbox' name='del_user_" + data.value + "'></td></tr>");
                $('#delete_label').css("display", "block")
                $(this).blur();
                return false;
            },
            minLength: 0,
            focus: function (e, ui) {
                e.preventDefault();
                this.value = ui.item.label;
            }
        }).focus(function (event) {
                    $(this).autocomplete("search");
                });
    });
</script>
