<div><b>Add Agency</b></div>
<% if flash[:error] %>
  <div><%= flash[:error] %></div>
<% end %>
<input type="hidden" id="add_flg" value="<%= @add_flg %>" />
<script>
$(document).ready(function(){
  if($('add_flg').attr('value') == 1) {
    $('#agency_agency_name').val('');
    $('#agency_roman_name').val('');
  }
})

</script>
<%= form_for(@agency) do |f| %>
  <br/>
  <div class="field">
      <%= f.label "Agency name:" %>
      <%= f.text_field :agency_name, maxlength: 255, style: "width: 250px" %><br />
  </div>
  <br/>
  <div class="field">
      <%= f.label "Roman name:" %>
      <%= f.text_field :roman_name, maxlength: 255, style: "width: 250px" %>
  </div>
  <br/>
  <br/>
  <div class="float:left">
    <%= f.submit %>
  </div>
  <div class="float:left">
    <%= link_to 'Cancel', agencies_path %>
  </div>
  <div style="clear:both"></div>
<% end %>
