<%= stylesheet_link_tag "css/agency" %>
<%= stylesheet_link_tag "css/common" %>
<%= stylesheet_link_tag "css/reset" %>
<% if flash[:error] %>
    <div><%= flash[:error] %></div>
<% end %>
<input type="hidden" id="add_flg" value="<%= @add_flg %>"/>
<script>
    $(document).ready(function () {
        if ($('add_flg').attr('value') == 1) {
            $('#agency_agency_name').val('');
            $('#agency_roman_name').val('');
        }
    })

</script>
<div id="user_form">
  <%= I18n.t("agency.crumb_add") %>
  <%= form_for(@agency) do |f| %>
      <table>
        <tbody>
        <tr>
          <th><%= f.label t("agency.agency_name") %></th>
          <td colspan="2">
            <%= f.text_field :agency_name, maxlength: 255, style: "width: 250px" %>
          </td>
        </tr>
        <tr>
          <th> <%= f.label t("agency.roman_name") %></th>
          <td colspan="2">
            <%= f.text_field :roman_name, maxlength: 255, style: "width: 250px" %>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="submit_area">
        <input type="image" id="btn_submit" src="/assets/btn_done.gif" name="commit">

        <p><%= link_to raw('<img align="right" alt="キャンセル" src="/assets/btn_cancel.gif">'), agencies_path %></p>
      </div>
      </form>
  <% end %>
</div>
