Add Agency

<% if flash[:error] %>
  <div><%= flash[:error] %></div>
<% end %>

<%= form_for(@agency) do |f| %>
  <br/>
  <div class="field">
    <div style="float:left">
      <%= f.label "Agency name:" %><br />
    </div>
    <div style="float:left">
      <%= f.text_field :agency_name, maxlength: 255, style: "width: 250px" %>
    </div>
    <div style="clear:both"></div>
  </div>
  <br/>
  <div class="field">
    <div style="float: left">
      <%= f.label "Roman name:" %><br />
    </div>
    <div style="float: left">
    <%= f.text_field :roman_name, maxlength: 255, style: "width: 250px" %>
    </div>
    <div style="clear:both"></div>
  </div>
  <br/>
  <br/>
  <div class="float:left">
    <%= f.submit %>
  </div>
  <div class="float:left">
    <%= link_to 'Cancel', agencies_path %>
  </div>
  <div style="clear:both"></div>
<% end %>
