<%= stylesheet_link_tag "css/logs" %>
<%= stylesheet_link_tag "css/colorbox" %>
<%= stylesheet_link_tag "css/common" %>
<%= stylesheet_link_tag "css/box_inner_log" %>
<% if flash[:error] %>
	<div><%= flash[:error] %></div>
<% end %>

<div id="popup" style="display: none">
	<div id="list_options" style="width: 400px;">
		<div id="result_list">
            <p class="box3_txt">全て追加する </p>
            <!-- チェックボックス -->
            <div class="check-group clearfix">
			<ul>

				<li>
				<%= link_to "Show All", "javascript:void(0)", onclick: "update_cookies()"%>
				</li>
				<li>
					<p class="check_txt">Click Time</p>
					<div><%= link_to cookies[:coptions][0] == "0" ? image_tag("/assets/btn_box_add.gif") : image_tag("/assets/btn_box_dl.gif"), "javascript:void(0)", onclick: "update_cookie('0',this)"%></div>
				</li>
				<li>
					<p class="check_txt">Media Name</p>
					<div><%= link_to cookies[:coptions][1] == "0" ? image_tag("/assets/btn_box_add.gif") : image_tag("/assets/btn_box_dl.gif"), "javascript:void(0)", onclick: "update_cookie('1',this)"%></div>
				</li>
				<li>
					<p class="check_txt">Account name</p>
					<div><%= link_to cookies[:coptions][2] == "0" ? image_tag("/assets/btn_box_add.gif") : image_tag("/assets/btn_box_dl.gif"), "javascript:void(0)", onclick: "update_cookie('2',this)"%></div>
				</li>
				<li>
					<p class="check_txt">Campaign Name</p>
					<div><%= link_to cookies[:coptions][3] == "0" ? image_tag("/assets/btn_box_add.gif") : image_tag("/assets/btn_box_dl.gif"), "javascript:void(0)", onclick: "update_cookie('3',this)"%></div>
				</li>
				<li>
					<p class="check_txt">Ad Group Name</p>
					<div><%= link_to cookies[:coptions][4] == "0" ? image_tag("/assets/btn_box_add.gif") : image_tag("/assets/btn_box_dl.gif"), "javascript:void(0)", onclick: "update_cookie('4',this)"%></div>
				</li>
				<li>
					<p class="check_txt">Ad Name</p>
					<div><%= link_to cookies[:coptions][5] == "0" ? image_tag("/assets/btn_box_add.gif") : image_tag("/assets/btn_box_dl.gif"), "javascript:void(0)", onclick: "update_cookie('5',this)"%></div>
				</li>
				<li>
					<p class="check_txt">URL</p>
					<div><%= link_to cookies[:coptions][6] == "0" ? image_tag("/assets/btn_box_add.gif") : image_tag("/assets/btn_box_dl.gif"), "javascript:void(0)", onclick: "update_cookie('6',this)"%></div>
				</li>
				<li>
					<p class="check_txt">SESID</p>
					<div><%= link_to cookies[:coptions][7] == "0" ? image_tag("/assets/btn_box_add.gif") : image_tag("/assets/btn_box_dl.gif"), "javascript:void(0)", onclick: "update_cookie('7',this)"%></div>
				</li>
				<li>
					<p class="check_txt">OS</p>
					<div><%= link_to cookies[:coptions][8] == "0" ? image_tag("/assets/btn_box_add.gif") : image_tag("/assets/btn_box_dl.gif"), "javascript:void(0)", onclick: "update_cookie('8',this)"%></div>
				</li>
				<li>
					<p class="check_txt">OK/NG</p>
					<div><%= link_to cookies[:coptions][9] == "0" ? image_tag("/assets/btn_box_add.gif") : image_tag("/assets/btn_box_dl.gif"), "javascript:void(0)", onclick: "update_cookie('9',this)"%></div>
				</li>
				<li>
					<p class="check_txt">Error Message</p>
					<div><%= link_to cookies[:coptions][10] == "0" ? image_tag("/assets/btn_box_add.gif") : image_tag("/assets/btn_box_dl.gif"), "javascript:void(0)", onclick: "update_cookie('10',this)"%></div>
				</li>
				<li>
					<p class="check_txt">Show data from Error table</p>
					<div><input type="checkbox" name="error_table" id="error_table" checked="checked"></div>
				</li>
			</ul>
            </div>
          </div>
		<button id="change_cookie"><img src="/assets/btn_done.gif" alt="完成"></button>
		<button id="not_change_cookie"><img src="/assets/btn_cancel.gif" alt="完成"></button>
	</div>
</div>

<ul class="contentNavi">
	<li class="pre"><%= link_to @promotion.client.client_name, clients_path(id: @promotion.client.id) %> </li>
	<li>&gt;</li>
	<li><%= link_to @promotion.promotion_name, promotions_path(promotion_id: @promotion.id, client_id: @promotion.client.id) %></li>
	<li>&gt;</li>
	<li>本体プロモーション</li>
</ul>
<div class="area_block">
	<div class="selectarea">
		<ul>
			<li> メディアカテゴリ
				<%= select_tag 'media_category_id', "<option value = "">All</option><option value = 0 >Listing ad</option><option value = 1 >Display ad</option><option value = 2 >Affiliate</option>".html_safe, class: "input-text" %>
			</li>
			<li> アカウント名
				<%= select_tag 'account_id', content_tag(:option,'All',:value=>"")+options_from_collection_for_select(Account.where(promotion_id: params[:id]).order(:account_name), 'id', 'account_name'), class: "input-text" %> <br>
			</li>
		</ul>
	</div>
	<div class="date">今日<br />
		<input id="datepick" type="text" readonly="readonly" value="<%= cookies[:cs] + " - " + cookies[:ce] %>" name="datepick">&#9660;</div>
</div>
<div class="clear"></div>
<div id="conversion_inner">
	<!--タブ切り替え-->
	<ul class="ui-tabs-nav">
		<li class="">
			<%= link_to(conversion_promotion_logs_path(promotion_id: @promotion.id)) do %>
			  <span>CVログ</span>
			<% end %>
		</li>
		<li class="ui-tabs-selected">
			<%= link_to(click_logs_path(id: @promotion.id)) do %>
			  <span>clickログ</span>
			<% end %>
		</li>
	</ul>
	<div id="ui-tab">
		<div id="fragment-1" class="ui-tabs-hide">
		</div>
		<div id="fragment-2" class="ui-tabs-panel">
			<div id="graph">
				<div class="fl-r">
					<p><a id = "show_option"><img src="/assets/btn_dl_option.gif"  /></a></p>
					<p><a id="download_csv"><img src="/assets/btn_dl_report.gif"  /></a></p>
				</div>
			</div>
			<div class="w_box">
			<table id="clicklogs" class="newTable06 fixTable d-none" style="background: grey" ></table>
			</div>
			
		</div>
		
	</div>
	<!--/タブ切り替え-->
</div>
<script type="text/javascript">
	function showColumn(tbl, colIndex, visible) {
	    $(tbl).flexToggleCol(colIndex, visible);
	}
	$('#download_csv').click(function(){
        $.ajax({
            url: "<%= download_csv_click_logs_path %>",
            data: {"promotion_id" : "<%= @promotion.id if @promotion %>",
            	   "media_cateory_id": $("#media_category_id").val(),
            	   "account_id": $("#account_id").val()},
            method: "post",
            success: function(data){
            }

        })
    })
	jQuery(document).ready(function($) {
		$(".newTable06").flexigrid({
			url: "<%= get_logs_list_click_logs_path %>",
			dataType: 'json',
			colModel : [
				{display: 'Click Time', name : 'click_utime', sortable : true, with:'auto',align: 'center', hide: <%= cookies[:coptions][0] == "0" ? 1 : 0 %>},
				{display: 'Media Name:', name : 'media_id', sortable : false,  with:'auto',align: 'center', hide: <%= cookies[:coptions][1] == "0" ? 1 : 0 %>},
				{display: 'Account Name', name : 'account_id', sortable : false,  with:'auto',align: 'center', hide: <%= cookies[:coptions][2] == "0" ? 1 : 0 %>},
				{display: 'Campaign Name', name : 'campaign_id', sortable : false,  with:'auto',align: 'center', hide: <%= cookies[:coptions][3] == "0" ? 1 : 0 %>},
				{display: 'Ad Group Name', name : 'group_id', sortable : false, with:'auto', align: 'center', hide: <%= cookies[:coptions][4] == "0" ? 1 : 0 %>},
				{display: 'Ad Name', name : 'unit_id', sortable : false, with:'auto', align: 'center', hide: <%= cookies[:coptions][5] == "0" ? 1 : 0 %>},
				{display: 'URL', name : 'redirect_url', sortable : false, with:'auto', align: 'center', hide: <%= cookies[:coptions][6] == "0" ? 1 : 0 %>},
				{display: 'SESID', name : 'session_id', sortable : false, with:'auto', align: 'center', hide: <%= cookies[:coptions][7] == "0" ? 1 : 0 %>},
				{display: 'OS', name : 'device_category', sortable : false, with:'auto', align: 'center', hide: <%= cookies[:coptions][8] == "0" ? 1 : 0 %>},
				{display: 'OK/NG', name : 'state', sortable : false, with:'auto', align: 'center', hide: <%= cookies[:coptions][9] == "0" ? 1 : 0 %>},
				{display: 'Error Message', name : 'error_code', sortable : false, with:'auto', align: 'center', hide: <%= cookies[:coptions][10] == "0" ? 1 : 0 %>},
				],
				preProcess : function (json) {
	            var results = new Array();
	            jQuery.each(json.rows, function(idx, v) {
	                if (idx==0) {
	                	results.push({id: "-" + v.cell.media_category_id, cell: {click_utime: "", media_id: "",
	                					account_id: "", campaign_id: "", ad_group_id: "", unit_id: "", redirect_url: "", session_id: "",device_category: "", state: "", error_code: ""}});
	               	} else {
	               		
	               		if (json.rows[idx-1].cell.media_category_id != v.cell.media_category_id)
	               			results.push({id: "-" + v.cell.media_category_id, cell: {click_utime: "", media_id: "",
	                					account_id: "", campaign_id: "", ad_group_id: "", unit_id: "", redirect_url: "", session_id: "",device_category: "", state: "", error_code: ""}});
	               	}
              
              results.push(this);
	            });
	            
	            return {
	                rows : results,
	                page : json.page,
	                total : json.total
	            };
	        },
		    sortname: "unit_id",
	        sortorder: "desc",
			usepager: true,
			useRp: true,
			rp: 10,
			resizable : false,
			optionGet : "5",
			query: <%=params[:id]%>, 
			showTableToggleBtn: true,
			height: 200,
			onSuccess: function() {
                tableResize();
				$('tr#row-0 td:nth-child('+(1+'n-'+(11))+')').remove();
				//$('tr#row-0').append("<div class='group_header'>Listing ad</div>");
				///$('tr#row-0').addClass('group_header');
                $('tr#row-0').after("<div class='group_header'>Listing ad</div>");
				$('tr#row-1 td:nth-child('+(1+'n-'+(11))+')').remove();
				//$('tr#row-1').append("<div class='group_header'>Display ad</div>");
				//$('tr#row-1').addClass('group_header');
                $('tr#row-1').after("<div class='group_header'>Display ad</div>");
				$('tr#row-2 td:nth-child('+(1+'n-'+(11))+')').remove();
				//$('tr#row-2').append("<div class='group_header'>Affiliate</div>");
				//$('tr#row-2').addClass('group_header');
                $('tr#row-2').after("<div class='group_header'>Affiliate</div>");
			}
		});
		
	});
		function formatDate(year, month, day){
		 if (year < 2000) { year = parseInt(year) + 1900; }
		 if (month.length == 1) { month = "0" + parseInt(month); }
		 if (day.length == 1) { day = "0" + parseInt(day); }
		 // if(lang===langJP){
		  // return year + "/" + month + "/" + day;
		 // }else{
		  //return month + "/" + day + "/" + year;
		  return year + "/" + month + "/" + day;
		 //}
		}
		$('#datepick').daterangepicker({
    		lang: $('#lang').val(),
            onDone: function() {
                var term = $('#datepick').val();
                var d = term.split(' - ');
                var f = (d[0]).split('/');
                var t = (d[1]).split('/');
                // if ($('#lang').val() === langJP) {
                    // $.cookie("s", formatDate(f[0], f[1], f[2], langJP), {
                        // path: '/'
                    // });
                    // $.cookie("e", formatDate(t[0], t[1], t[2], langJP), {
                        // path: '/'
                    // });
                // } else {
                    $.cookie("cs", formatDate(f[0], f[1], f[2]), {
                        path: '/'
                    });
                    $.cookie("ce", formatDate(t[0], t[1], t[2]), {
                        path: '/'
                    });
                //}
                
                reloadFlex1("#clicklogs", "<%= get_logs_list_click_logs_path %>?cid=" + $("#media_category_id").val() + "&account_id=" + $("#account_id").val());
            }
        });		
		
		$("#media_category_id").change(function(){
			reloadFlex1("#clicklogs", "<%= get_logs_list_click_logs_path %>?cid=" + $(this).val() + "&account_id=" + $("#account_id").val());
		});
		$("#account_id").change(function(){
			reloadFlex1("#clicklogs", "<%= get_logs_list_click_logs_path %>?cid=" + $("#media_category_id").val() + "&account_id=" + $(this).val());
		});
		
		
		
	
	
	//$('tr#row-g1 td:nth-child('+(11+'n-'+(11))+')').remove();
	//$('tr#row-g1').append("<td colspan='11'>aaaaa</td>";
	$('tr#row-g1 td:nth-child('+(1+'n-'+(11))+')').remove();
	$('tr#row-g1').append("<td colspan='11'>aaaaa</td>");
	var colums = ["click_utime", "media_id", "account_id", "campaign_id", "ad_group_id", "ad_id", "redirect_url", "session_id", "device_category", "state", "error_code"]
	
	$("#show_option").click(function(){
		$.colorbox({
			width: "50%",
			height: "70%",
			inline: true,
			escKey: false,
			overlayClose: false,
			href: "#list_options"
		});
	})
	cookies_options = $.cookie("coptions");
	update_cookie = function(data,ele){
		options = cookies_options.split("");
		options[data] = (options[data] == "1") ? "0" : "1";
		text = (options[data] == "1") ? "<img src='/assets/btn_box_dl.gif' >" : "<img src='/assets/btn_box_add.gif' >";
		$(ele).html(text);
		options = options.join("");
		cookies_options = options;

		
	}
	update_cookies = function(){
		$.cookie("coptions", '11111111111');
		location.href = location.href;		
	}
	show_page = function(ele){
		$(".cv_options").each(function(){
			if ("#" + $(this).attr("id") == $(ele).attr("href")){
				$(this).show();
			}else{
				$(this).hide();
			}
		})
	}
	$("#change_cookie").click(function(){
		$.cookie("coptions",cookies_options);
		so = 0;
		for (var i=0;i<colums.length;i++){
			if (cookies_options[i] == "1"){
				showColumn("#clicklogs", i, true);
			} else{
				showColumn("#clicklogs", i, false);
			}
		 }
		 
		if ($("#error_table").is(':checked')) {
	    	$.cookie("ser",1);
	    	
	    } else {
	    	$.cookie("ser",0);
	    }
	    reloadFlex1("#clicklogs", "<%= get_logs_list_click_logs_path %>?cid=" + $("#media_category_id").val() + "&account_id=" + $("#account_id").val());
		$("#clicklogs").colorbox.close();
	});
	$("#not_change_cookie").click(function(){
		cookies_options = $.cookie("coptions");
		$("#clicklogs").colorbox.close();
	})
	
</script>
<script type="text/javascript">
    $(window).resize(function() {
        tableResize();
    });
</script>
<div style="clear:both"></div>
