<div id="inprogress">
  <ul class="entrydate_box">
  <% if @jobs %>
    <% @jobs.each_with_index do |job, index| %>
            <li>
              <table class="entrydate_table">
                <tr>
                  <td class="file_name"><%=job.filename%></td>
                  <td class="capacity"><%= job.size %></td>
                  <td class="daily"><%= job.created_at %></td>
                  <td class="c_orange">アップロード中</td>
                </tr>
                <tr>
                  <td colspan="4"><%= job.breadcrumb %></td>
                </tr>
              </table>
              <p class="btn_cancel"><a href='/background_jobs/kill_job?id=<%= job.id %>'><img src="/assets/btn_cancel_notify.gif"/></a></p>
            </li>
    <% end %>
<% end %>
  </ul>
</div>


