<style type="text/css">
    #inprogress {
        overflow: auto;
        height: 200px;
    }
</style>
<script>
    $(function(){

    });
    function remove(i)
    {

    }
    $(document).on('click', "#close_notify", function(){
        $(".inline_notify").colorbox.close();
    })
</script>
<div id="inprogress">
  <ul class="entrydate_box_notify">
  <% if @jobs %>
    <% @jobs.each_with_index do |job, index| %>
            <li>
              <table class="entrydate_table">
                <tr>
                  <td class="file_name"><%=job.filename%></td>
                  <td class="capacity"><%= job.size %></td>
                  <td class="daily"><%= job.created_at.strftime("%m/%d/%y") %></td>
                  <td class="c_orange">
                    <% if job.type_view == "upload" %><%= I18n.t('notification.uploading') %><%end%>
                    <% if job.type_view == "download" %><%= I18n.t('notification.inpreparation') %><%end%>
                  </td>
                </tr>
                <tr>
                  <td colspan="4"><%= job.breadcrumb %></td>
                </tr>
              </table>
              <p class="btn_cancel"><a href="javascript:void(0)" onclick="remove(<%= job.id %>)"><img src="/assets/btn_cancel_notify.gif"/></a></p>
            </li>
    <% end %>
<% end %>
  </ul>
</div>
<div>
  <p style="margin-top:30px;margin-left:220px"><a href="#" id="close_notify"><img alt="キャンセル" src="/assets/btn_close.gif"></a></p>
</div>


