<%= render "layouts/prevent_change_page" %>
<%= stylesheet_link_tag "css/promotion" %>
<%= stylesheet_link_tag "css/common" %>
<% content_for :sidebar do %>
    <%= render partial: "layouts/sidebar", locals: {object: @promotions} %>
<% end %>
  <ul class="contentNavi">
    <li class="pre"><%= link_to @promotion.client.client_name, client_path(@promotion.client_id) %></li>
    <li> &gt; </li>
    <li><%= link_to @promotion.promotion_name, promotion_path(@promotion) %></li>
  </ul>
  <div class="clear"></div>
  <p class="h2 mt-20">Promotion Edit</p>
<%= form_for(@promotion) do |f| %>
    <div class="regist_form">
      <table class="client_info">
        <tbody>
        <tr>
          <th><%= f.label "Promotion name" %></th>
          <td><%= f.text_field :promotion_name, maxlength: 255, style: "width: 250px" %></td>
        </tr>
        <tr>
          <th><%= f.label "Roman name" %></th>
          <td><%= f.text_field :roman_name, maxlength: 255, style: "width: 250px" %></td>
        </tr>
        <tr>
          <th><%= f.label "Category" %></th>
          <td>
            <%= f.select :promotion_category_id,
                         t(".category").each_with_index.map {|name, index| [name,index]},
                         selected: @promotion.promotion_category_id %>
          </td>
        </tr>
        <tr>
          <th><%= f.label "Tracking period" %></th>
          <td><%= f.text_field :tracking_period, maxlength: 2, style: "width: 250px" %> 日</td>
        </tr>
        </tbody>
      </table>
      <div class="submit_area2">
        <input type="image" src="/assets/btn_done.gif" id="btn_done"><p><%= link_to raw('<img align="right" alt="delete" src="/assets/btn_del.gif">'), "#inline_content" %></p>
        <p><%= link_to raw('<img align="right" alt="キャンセル" src="/assets/btn_cancel.gif">'), promotions_path(client_id: @promotion.client_id) %></p>
         </div>
    </div><!-- /."regist_form end-->
    <% end %>


<div style='display:none'>
  <div id='inline_content' style='padding:10px; background:#fff;'>
    <div>Promotion name: <%= @promotion.promotion_name %></div>
    <div>You want to delete?</div>
    <button id="del_ok">Delete</button>
    <button id="del_cancel">Cancel</button>
  </div>
  <div id="del_success">
    <div>Deleted!</div>
  </div>
</div>


<script type="text/javascript">
  $(".inline").colorbox({
    width: "30%",
    inline: true,
    escKey: false,
    overlayClose: false,
  });

  $("#del_ok").click(function(){
    $.ajax({
      url: "<%= delete_promotion_promotions_path %>",
      method: "POST",
      data: "id=" + "<%= @promotion.id %>",
      success: function(data){
        location.href = "/promotions"
      }
    })
  })

  $("#del_cancel").click(function(){
    $(".inline").colorbox.close();
  })
</script>
