<%= render "layouts/prevent_change_page_edit" %>
<%= stylesheet_link_tag "css/common" %>
<% content_for :sidebar do %>
    <%= render partial: "layouts/sidebar", locals: {object: @array_promotion} %>
<% end %>
  <ul class="contentNavi">
    <li class="pre"><%= link_to @promotion.client.client_name, clients_path(client_id: @promotion.client_id) %></li>
    <li> &gt; </li>
    <li><%= I18n.t("promotion.crumb_edit")%></li>
    <li> / </li>
    <li><%= @promotion_name %></li>
  </ul>
  <div class="clear"></div>
<%= form_for(@promotion) do |f| %>
    <div class="regist_form">
      <table class="client_info">
        <tbody>
        <tr>
          <th><%= f.label "Promotion name" %></th>
          <td><%= f.text_field :promotion_name, maxlength: 255, style: "width: 250px" %></td>
        </tr>
        <tr>
          <th><%= f.label "Roman name" %></th>
          <td><%= f.text_field :roman_name, maxlength: 255, style: "width: 250px" %></td>
        </tr>
        <tr>
          <th><%= f.label "Category" %></th>
          <td>
            <%= f.select :promotion_category_id,
                         t(".category").each_with_index.map {|name, index| [name,index]},
                         selected: @promotion.promotion_category_id %>
          </td>
        </tr>
        <tr style="vertical-align: top;">
          <th><%= f.label "Tracking period" %></th>
          <td style="width: 250px"><%= f.text_field :tracking_period, maxlength: 2, style: "width: 250px" %> </td>
          <td style="padding-left: 0"> 日</td>
        </tr>
        </tbody>
      </table>
      <div class="submit_area2">
      	<%= image_submit_tag("/assets/btn_done.gif", id: "btn_done") %>
        <p><%= link_to image_tag("/assets/btn_cancel.gif", align: "right", alt: "キャンセル"), promotions_path(promotion_id: @promotion.id, client_id: @client_id) %></p>
        <p><button id="promotion_delete"><img align="right" alt="delete" src="/assets/btn_del.gif" ></button></p>
         </div>
    </div><!-- /."regist_form end-->
    <input type="hidden" name="client_id" value="<%= @client_id %>" />
    <input type="hidden" name="promotion_name" value="<%= @promotion_name %>" />
    <% end %>
<script type="text/javascript">
$(function(){
	$("#promotion_delete").click(function(e){
		e.preventDefault();
	  	$.confirm({
			'message'	: '<%= render partial: "layouts/popup_new" %>',
		    'buttons'	: {
		    	'OK'	: {
		        	'class'	: 'popup_yes',
		            'action': function(){
		            	$.ajax({
							url: "<%= delete_promotion_promotions_path %>",
							type: "POST",
							data: "promotion_id=" + "<%= @promotion.id %>" + "&client_id=" + "<%= @client_id %>",
							success: function(data){
								location.href = "/promotions?client_id=<%= @client_id %>"
							}
						})
					}
				},
		        'Cancel'	: {
		        	'class'	: 'popup_no',
		            'action': function(){}	// Nothing to do in this case. You can as well omit the action property.
				}
			}
		});
	});
})
</script>
