<%= link_to Client.find(@client_id).client_name, client_path(@client_id) %> > Promotion Registration

<% if flash[:error] %>
  <div><%= flash[:error] %></div>
<% end %>

<%= form_for(@promotion) do |f| %>
  <%= hidden_field_tag :client_id, params[:client_id] %>
  <%= f.label "Promotion name" %>
  <%= f.text_field :promotion_name, maxlength: 255, style: "width: 250px" %><br />
  <%= f.label "Roman name" %>
  <%= f.text_field :roman_name, maxlength: 255, style: "width: 250px" %><br />
  <%= f.label "Category" %>
  <%= f.select :promotion_category_id,
    t(".category").each_with_index.map {|name, index| [name,index]} %><br />
  <%= f.label "Tracking period" %>
  <%= f.text_field :tracking_period, maxlength: 2, style: "width: 250px" %><br />
  <%= f.submit %>
  <%= link_to 'Cancel', promotions_path(client_id: @client_id) %>
<% end %>

<%= link_to "Promotion registration", new_promotion_path(client_id: @client_id) %>
