<div id="footer">
  <div id="footerInner">
    <ul>
      <li><a href="<%= I18n.t("footer.terms_and_conditions_link")%>"><%= I18n.t("footer.terms_and_conditions")%></a></li>
      <li><a href="<%= I18n.t("footer.privacy_policy_link")%>"><%= I18n.t("footer.privacy_policy")%></a></li>
      <li><a href="<%= I18n.t("footer.corporate_information_link")%>"><%= I18n.t("footer.corporate_information")%></a></li>
    </ul>
  </div><!-- /#footerInner end -->
  <div id="copyright">
    <p>Copyright &copy; Septeni Co.,Ltd All Right Reserved</p>
    <a href="#"><img src="/assets/logo_septeni.jpg" /></a></p>
  </div><!-- /#copyright end -->
</div><!-- /#footer end -->
