<%= stylesheet_link_tag "css/colorbox", :media => "all" %>
<script>
    $(document).ready(function () {
    $(".inline").colorbox({inline: true, width: "635", height: "350" });
        $( "#tabs" ).tabs({
            beforeLoad: function( event, ui ) {
                ui.jqXHR.error(function() {
                    ui.panel.html(
                            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
                                    "If this wouldn't be a demo." );
                });
            }
        });
        $('#promotion_table').each(function() {
            var $table = $(this);
            var $button = $("<img src='/assets/btn_dl_report.gif' alt='Btn_dl_report'>");
            $('#download_csv_promotion').html($button);
            // $button.insertAfter($table);

            $button.click(function() {
                var csv = $table.table2CSV({delivery:'value'});
                window.location.href = 'data:text/csv;charset=UTF-8,'
                        + encodeURIComponent(csv);
            });
        });



    })
</script>
<div id="header">
  <div id="headerInner">
    <h1>Polaris</h1>
    <% if signed_in? %>
     <div id="notification" style="float:right;right:190px;position: absolute;top:22px">
       <button class="fancybox mt-0 fl-l inline cboxElement" rel="gallery" href="#inline_content"><span class="notification"><%= @notify %></span></button>

            <div style='display:none'>
              <div id='inline_content'>
                <div class="f_box">
                  <div id="tabs">
                  <ul>
                    <li style="width: 200px"><a href="/background_jobs/inprogress">実行中</a></li>
                    <li style="width: 200px"><a href="/background_jobs/download">ダウンロードリスト</a></li>
                    <li style="width: 200px"><a href="/background_jobs/upload">アップロードリスト</a></li>
                  </ul>
                  </div>
                  </div>
                </div>
              </div>

        </div>
        <div id="personal">
          <ul>
            <li><%= link_to(raw('<img src="/assets/head_env.gif" align="left" />'), '#') %></li>
            <li><%= link_to(raw('<img src="/assets/head_help.gif" />'), '#') %></li>
            <li><p>　<img src="/assets/head_pict.gif" />　<%= short_name(current_user.username)%></p></li>
            <li><p>｜<a href="#"><span><%= link_to I18n.t("layout.logout"), signout_path, method: 'delete' %></span></a></p></li>
          </ul>
        </div><!-- /#personal end -->
    <% end %>
  </div><!-- /#headerInner end -->
</div><!-- /#header -->
<% if signed_in? %>
<div id="nav">
  <div id="navInner">
    <div class="nav">
      <ul>
        <% if current_user.super? %>
           <% if (params[:controller] == "promotions" || params[:controller] == "conversion_promotion_logs" || params[:controller] == "conversions" ||  params[:controller] == "click_logs" || (params[:controller] == "accounts" && params[:action] == "new") || (params[:controller] == "accounts" && params[:action] == "create")) %>
                <%if params[:controller] == "promotions"%>
                  <li class="current"><%= link_to raw('<img src="/assets/nav/nav_01_promotion_off.gif" alt="代理店リスト" />'),  "#{promotions_path}?promotion_id=#{@promotion_id}&client_id=#{@client_id}", class: "promotion_class_header" %>
                  </li>

                  <li> <%= link_to raw('<img src="/assets/nav/nav_02_account_off.gif", alt="ユーザーリスト" />'), "#{accounts_path}/new?promotion_id=#{@promotion_id}", class: "account_class_header" %></li>

                  <li> <%= link_to raw('<img src="/assets/nav/nav_03_conversion_off.gif" alt="代理店リスト" />'),  "#{conversions_path}?promotion_id=#{@promotion_id}", class: "conversion_class_header" %>
                  </li>

                  <li> <%= link_to raw('<img src="/assets/nav/nav_04_log_off.gif"  alt="ユーザーリスト" />'), "#{conversion_promotion_logs_path}?promotion_id=#{@promotion_id}", class: "log_class_header" %>
                  </li>
                <% end %>

                <%if params[:controller] == "accounts"%>
                  <li><%= link_to raw('<img src="/assets/nav/nav_01_promotion_off.gif" alt="代理店リスト" />'),  "#{promotions_path}?promotion_id=#{@promotion_id}&client_id=#{Promotion.find(@promotion_id).client.id}", class: "promotion_class_header" %>
                  </li>

                  <li class="current"> <%= link_to raw('<img src="/assets/nav/nav_02_account_off.gif", alt="ユーザーリスト" />'), "#{accounts_path}/new?promotion_id=#{params[:promotion_id]}", class: "account_class_header" %></li>

                  <li> <%= link_to raw('<img src="/assets/nav/nav_03_conversion_off.gif" alt="代理店リスト" />'),  "#{conversions_path}?promotion_id=#{params[:promotion_id]}", class: "conversion_class_header" %>
                  </li>

                  <li> <%= link_to raw('<img src="/assets/nav/nav_04_log_off.gif"  alt="ユーザーリスト" />'), "#{conversion_promotion_logs_path}?promotion_id=#{params[:promotion_id]}", class: "log_class_header" %>
                  </li>
                <% end %>

                <%if params[:controller] == "conversions"%>
                  <li><%= link_to raw('<img src="/assets/nav/nav_01_promotion_off.gif" alt="代理店リスト" />'),  "#{promotions_path}?promotion_id=#{@promotion_id}&client_id=#{Promotion.find(params[:promotion_id]).client.id if params[:promotion_id] }", class: "promotion_class_header" %>
                  </li>

                  <li> <%= link_to raw('<img src="/assets/nav/nav_02_account_off.gif", alt="ユーザーリスト" />'), "#{accounts_path}/new?promotion_id=#{params[:promotion_id]}", class: "account_class_header" %></li>

                  <li class="current"> <%= link_to raw('<img src="/assets/nav/nav_03_conversion_off.gif" alt="代理店リスト" />'),  "#{conversions_path}?promotion_id=#{params[:promotion_id]}", class: "conversion_class_header" %>
                  </li>

                  <li> <%= link_to raw('<img src="/assets/nav/nav_04_log_off.gif"  alt="ユーザーリスト" />'), "#{conversion_promotion_logs_path}?promotion_id=#{params[:promotion_id]}", class: "log_class_header" %>
                  </li>
                <% end %>

                <%if params[:controller] == "conversion_promotion_logs" || params[:controller] == "click_logs"%>
                  <li><%= link_to raw('<img src="/assets/nav/nav_01_promotion_off.gif" alt="代理店リスト" />'),  "#{promotions_path}?promotion_id=#{@promotion_id}&client_id=#{@client_id}", class: "promotion_class_header" %>
                  </li>

                  <li> <%= link_to raw('<img src="/assets/nav/nav_02_account_off.gif", alt="ユーザーリスト" />'), "#{accounts_path}/new?promotion_id=#{params[:promotion_id]}", class: "account_class_header" %></li>

                  <li> <%= link_to raw('<img src="/assets/nav/nav_03_conversion_off.gif" alt="代理店リスト" />'),  "#{conversions_path}?promotion_id=#{params[:promotion_id]}", class: "conversion_class_header" %>
                  </li>

                  <li class="current"> <%= link_to raw('<img src="/assets/nav/nav_04_log_off.gif"  alt="ユーザーリスト" />'), "#{conversion_promotion_logs_path}?promotion_id=#{params[:promotion_id]}", class: "log_class_header" %>
                  </li>
                <% end %>
            <%elsif params[:controller] == "url_settings" || (params[:controller] == "accounts" && params[:action] == "edit") || (params[:controller] == "accounts" && params[:action] == "update") %>
                <li <%if params[:controller] == "accounts"%>class="current"<% end %>><%= link_to raw('<img src="/assets/nav/nav_02_account_off.gif" alt="ユーザーリスト" />'), "#{accounts_path}/new?promotion_id=#{params[:promotion_id]}", class: "account_class_header" %></li>
                <li <%if params[:controller] == "url_settings"%>class="current"<% end %>><%= link_to raw('<img src="/assets/nav/nav_02_url_off.gif" alt="代理店リスト" />'),  "#{url_settings_path}/?promotion_id=#{params[:promotion_id]}&account_id=#{params[:id]}", class: "settings_class_header" %></li>
            <% else %>
                <li  <%if params[:controller] == "clients"%>class="current"<% end %>><%= link_to raw('<img src="/assets/nav/nav_01_client_off.gif" width="144" height="38" alt="クライアントリスト" />'), "#{clients_path}", class: "client_class_header" %></li>
                <li  <%if params[:controller] == "agencies"%>class="current"<% end %>><%= link_to raw('<img src="/assets/nav/nav_02_agency_off.gif" width="142" height="38" alt="代理店リスト" />'),  "#{agencies_path}", class: "agency_class_header" %></li>
                <li  <%if params[:controller] == "users"%>class="current"<% end %>><%= link_to raw('<img src="/assets/nav/nav_03_user_off.gif" width="142" height="38" alt="ユーザーリスト" />'), "#{users_path}", class: "user_class_header" %></li>
                <li  <%if params[:controller] == "media"%>class="current"<% end %>><a href="#"><img src="/assets/nav/nav_04_media_off.gif" width="142" height="38" alt="メディアリスト" /></a></li>
            <% end %>
        <% else %>
        	<% if params[:controller] == "promotions" %>
        		<% if @promotion_id %>
        			<li class="current"><%= link_to raw('<img src="/assets/nav/nav_01_promotion_off.gif" alt="代理店リスト" />'),  "#{promotions_path}?promotion_id=#{@promotion_id}&client_id=#{@client_id}", class: "promotion_class_header" %>
        		<% end %>
        	<% end %>
        <% end %>
      </ul>
    </div><!-- /.nav-->
  </div>
</div><!-- /#nav end -->
<% end %>
