<div id="header">
	<div id="topbar">
		<div id="subnav">
			<div id="logo"></div>
			<div id="profile">
				<% if signed_in? %>
					<%= current_user.username%> <%= link_to "Sign out", signout_path, method: "delete" %>
				<% else %>
					<a href="#">Language</a> | <%= link_to "Login", signin_path %> | <a href="#">Sitemap</a> | <a href="#">Contact</a>
				<% end %>
			</div>
			<div class="clear"></div>
		</div>
		<% if signed_in? %>
		<div id="navigation">
			<ul>
				<li><%= link_to "Client List", clients_path %></li>
				<% if current_user.super? %>
				<li><%= link_to "User List", users_path %></li>
				<li><%= link_to "Agency List", agencies_path %></li>
				<% end %>
				<li></li>
			</ul>
		</div>
		<% end %>
	</div>
</div>
