<div id="header">
  <div id="headerInner">
    <h1>Polaris</h1>
    <% if signed_in? %>
     <div id="notification" style="float:right;right:450px;position: absolute;top:22px">
          <span class="notification">2</span>
          <div id='notice'>
            <div id="main_tab">

              <ul class="tabContainer">
                <!-- The jQuery generated tabs go here -->
              </ul>

              <div class="clear"></div>

              <div id="tabContent">
                <div id="contentHolder">
                  <!-- The AJAX fetched content goes here -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="personal">
          <ul>
            <li><%= link_to(raw('<img src="/assets/head_env.gif" align="left" />'), '#') %></li>
            <li><%= link_to(raw('<img src="/assets/head_help.gif" />'), '#') %></li>
            <li><p>　<img src="/assets/head_pict.gif" />　<%= short_name(current_user.username)%></p></li>
            <li><p>｜<a href="#"><span><%= link_to I18n.t("layout.logout"), signout_path, method: 'delete' %></span></a></p></li>
          </ul>
        </div><!-- /#personal end -->
    <% end %>
  </div><!-- /#headerInner end -->
</div><!-- /#header -->
<% if signed_in? %>
<div id="nav">
  <div id="navInner">
    <div class="nav">
      <ul>
        <% if current_user.super? %>
           <% if (params[:controller] == "promotions" || params[:controller] == "conversion_promotion_logs" || params[:controller] == "conversions" ||  params[:controller] == "click_logs") %>
                <li><%= link_to raw('<img src="/assets/nav/nav_01_promotion_off.gif" alt="代理店リスト" />'),  "javascript:void(0)", class: "agency_class_header", onclick: "ajaxCommon('#{promotions_path}?client_id=#{params[:client_id]}&promotion_id=#{params[:promotion_id]}','','','','#container,#sidebar')" %></li>
                <li><%= link_to raw('<img src="/assets/nav/nav_02_account_off.gif" alt="ユーザーリスト" />'), "javascript:void(0)", class: "user_class_header", onclick: "ajaxCommon('#{accounts_path}?client_id=#{params[:client_id]}&promotion_id=#{params[:promotion_id]}','','','','#container,#sidebar')" %></li>
                <li><%= link_to raw('<img src="/assets/nav/nav_03_conversion_off.gif" alt="代理店リスト" />'),  "javascript:void(0)", class: "agency_class_header", onclick: "ajaxCommon('#{conversions_path}?client_id=#{params[:client_id]}&promotion_id=#{params[:promotion_id]}','','','','#container,#sidebar')" %></li>
                <li><%= link_to raw('<img src="/assets/nav/nav_04_log_off.gif"  alt="ユーザーリスト" />'), "javascript:void(0)", class: "user_class_header", onclick: "ajaxCommon('#{click_logs_path}?id=#{params[:client_id]}&promotion_id=#{params[:promotion_id]}','','','','#container,#sidebar')" %></li>

            <%elsif params[:controller] == "url_settings" || params[:controller] == "accounts" %>
                <li><%= link_to params[:controller] == "accounts" ? raw('<img src="/assets/nav/nav_02_account_on.gif" alt="ユーザーリスト" />'):raw('<img src="/assets/nav/nav_02_account_off.gif" alt="ユーザーリスト" />'), "javascript:void(0)", class: "account_class_header", onclick: "ajaxCommon('#{accounts_path}?client_id=#{params[:client_id]}&promotion_id=#{params[:promotion_id]}','','','','#container,#sidebar')" %></li>

                <li><%= link_to params[:controller] == "url_settings" ? raw('<img src="/assets/nav/nav_02_url_on.gif" alt="代理店リスト" />'):raw('<img src="/assets/nav/nav_02_url_off.gif" alt="代理店リスト" />'),  "javascript:void(0)", class: "settings_class_header", onclick: "ajaxCommon('#{url_settings_path}?client_id=#{params[:client_id]}&promotion_id=#{params[:promotion_id]}&media_id=#{params[:promotion_id]}','','','','#container,#sidebar')" %></li>
            <% else %>
                <% 
                  # set class for all tabs
                  client_class = ""
                  agency_class = ""
                  user_class = ""
                  media_class = ""
                  if params[:controller] == "users"
                    user_class = "current"
                  elsif params[:controller] == "agencies"
                    agency_class = "current"
                  else
                    client_class = "current"
                  end
                %>
                <li class="<%= client_class %>"><%= link_to raw('<img src="/assets/nav/nav_01_client_off.gif" width="144" height="38" alt="クライアントリスト" />'), "javascript:void(0)", class: "client_class_header", onclick: "ajaxCommon('#{clients_path}','','','','#container,#sidebar')" %></li>

                <li class="<%= agency_class %>"><%= link_to raw('<img src="/assets/nav/nav_02_agency_off.gif" width="142" height="38" alt="代理店リスト" />'),  "javascript:void(0)", class: "agency_class_header", onclick: "ajaxCommon('#{agencies_path}','','','','#container,#sidebar')" %></li>
                <li class="<%= user_class %>"><%= link_to raw('<img src="/assets/nav/nav_03_user_off.gif" width="142" height="38" alt="ユーザーリスト" />'), "javascript:void(0)", class: "user_class_header", onclick: "ajaxCommon('#{users_path}','','','','#container,#sidebar')" %></li>
                <li class="<%= media_class %>"><a href="#"><img src="/assets/nav/nav_04_media_off.gif" width="142" height="38" alt="メディアリスト" /></a></li>
            <% end %>
        <% end %>
      </ul>
    </div><!-- /.nav-->
  </div>
</div><!-- /#nav end -->
<% end %>
