<script type="text/javascript">//アコーディオン

$(document).ready(function () {
    $("#recaptcha_response_field").attr("tabindex","7");

    //----------------------------
    $('.accordion01').click(function () {
        $("#accordion01_inner").slideToggle('slow');
        $('#passwd').toggleClass("arrow1");
        $('#passwd').toggleClass("arrow2");
        $('#passwd').text('<%= I18n.t("login.forgor_pw")%>');
        $('#passwd').text('<%= I18n.t("login.forgor_pw1")%>');

    })

    $('.accordion_close').toggle(
            function () {
            },
            function () {
            }

    );
});

</script>
<div id="sidebar">
  <div class="loginbox">
    <p class="title"><%= I18n.t("layout.login")%></p>

    <form action="/sessions" method="post">
      <label><span class="bold"><%= I18n.t("login.email")%></span><br/>
        <input type="text" name="session[email]" id="email" class="input-text" maxlength="255" tabindex="1"/></label>
      <br/>

      <p class="bold"><%= I18n.t("login.choose_lang.label")%></p>
      <select name="language" tabindex="2">
        <option value="ja"><%= I18n.t("login.choose_lang.ja")%>　</option>
        <option value="en"><%= I18n.t("login.choose_lang.en")%>　</option>
      </select><br/>
      <label><span class="bold"><%= I18n.t("login.pw")%></span><br/>
        <input type="password" name="session[password]" id="password" class="input-text" maxlength="255" tabindex="3"/></label>
      <input type="image" id="btn_submit" src="/assets/btn_login.gif" tabindex="4">
      <% if @errors && @errors.count > 0 %>
          <% @errors.each do |error| %>
              <p class="error"><%= error %> </p>
          <% end %>
      <% end %>

    </form>

    <div class="accordion01 ta-c clearfix"><p tabindex="5" id="passwd" class="arrow1"><%= I18n.t("login.forgor_pw")%></p></div>


  </div>
  <!-- /.loginbox end -->
  <% if (@form_errors && @form_errors.count > 0) || flash[:send_success] %>
  <div id="accordion01_inner" class="loginbox_more">
  <% else %>
  <div id="accordion01_inner" class="loginbox_more" style="display:none">
  <% end %>
    <p class="account_txt01"><%= I18n.t("login.notice")%>

    <div class="span6 offset3">
      <%= form_tag(resend_password_sessions_path, method: :post) do %>
          <%= label_tag I18n.t("login.email") %>
          <%= text_field_tag "email", nil, maxlength: 255, style: "width: 200px", tabindex: 6 %><br>
          <%= label_tag I18n.t("login.captcha") %>
          <%= recaptcha_tags display: {lang: "#{I18n.locale}"} %>
          <input type="image" id="Send" src="/assets/btn_submit.gif" tabindex="8">
      <% end %>
      <% if @form_errors && @form_errors.count > 0 %>
          <% @form_errors.each do |error| %>
              <div>
                <div><span class="text-validationError"><%= error %></span></div>
              </div>
          <% end %>
          <script type="text/javascript">
              $("#resend_password_form").show();
          </script>
      <% end %>
      <div><span class="text-validationError"><%= flash[:send_success] %></span></div>
    </div>
  </div>
</div>
