<div style='display:none'>
<div id="inline_logs">
<div class="f_box">
<p class="f_box_title"><%= I18n.t("click_logs.label")%></p>
<p class="f_category_title1"><%= I18n.t("click_logs.display_item")%></p>
<div class="box02">
  <ul id="tab_logs">
    <li class="present"><p class="f_arrow"><%= I18n.t("click_logs.usually")%></p></li>
  </ul>
</div>
<div id="page1">
<div class="box03">
  <p class="box3_txt"><%= link_to I18n.t("click_logs.show_all"), "javascript:void(0)", onclick: "update_cookies()"%> </p>
  <!-- チェックボックス -->
  <div class="check-group clearfix">
    <ul>
      <% Settings.click_options_part1.each_with_index do |option, index| %>
      <li>
        <p class="check_txt"><%= I18n.t("click_logs.#{option}")%></p>
          <div>
            <%= link_to cookies[:coptions][index] == "0" ? image_tag("/assets/btn_box_add.gif") : image_tag("/assets/btn_box_dl.gif"), "javascript:void(0)", onclick: "update_cookie('#{index}',this)"%>
          </div>
      </li>
      <% end %>
    </ul>
  </div>
  <!-- /チェックボックス -->
</div>
<div class="box01">
  <p class="box3_txt"><%= link_to I18n.t("click_logs.show_all"), "javascript:void(0)", onclick: "update_cookies()"%> </p>
  <!-- チェックボックス -->
  <div class="check-group clearfix">
    <ul>
      <% Settings.click_options_part2.each_with_index do |option, index| %>
      <li>
        <p class="check_txt"><%= I18n.t("click_logs.#{option}")%></p>
          <div>
            <%= link_to cookies[:coptions][index+6] == "0" ? image_tag("/assets/btn_box_add.gif") : image_tag("/assets/btn_box_dl.gif"), "javascript:void(0)", onclick: "update_cookie('#{index+6}',this)"%>
          </div>
      </li>
      <% end %>
      <li>
        <p class="check_txt"><%= I18n.t("click_logs.error_log_view")%></p>
        <div>
          <input type="checkbox" name="error_table" id="error_table" checked="checked">
        </div>
      </li>
    </ul>
    <!-- /チェックボックス -->
  </div>
</div>
</div>
<div class="submit_area">
  <button id="change_cookie" style="border: 0px"><img src="/assets/btn_done.gif" alt="完成"></button>
  <button id="not_change_cookie" style="border: 0px"><img src="/assets/btn_cancel.gif" alt="完成"></button>
</div>
</div>
</div>
</div>
<script>
    $(document).ready(function(){
        $(".inline_logs").colorbox({inline:true, width:"725", height:"630" });
    });
var tab = {
init:
function(){
var tabs = this.setup.tabs;
var pages = this.setup.pages;

for(i=0; i<pages.length; i++) {
if(i !== 0) pages[i].style.display = 'none';
tabs[i].onclick = function(){tab.showpage(this); return false; };
}
},

showpage: function(obj){
var tabs = this.setup.tabs;
var pages = this.setup.pages;
var num;

for(num=0; num<tabs.length; num++) {
if(tabs[num] === obj) break;
}

for(var i=0; i<pages.length; i++) {
if(i == num) {
pages[num].style.display = 'block';
tabs[num].className = 'present';
}
else{
pages[i].style.display = 'none';
tabs[i].className = null;
}
}
}
}

// <![CDATA[

tab.setup = {
    tabs: document.getElementById('tab_logs').getElementsByTagName('li'),

    pages: [
        document.getElementById('page1')
    ]
} //オブジェクトをセット
tab.init(); //起動！
// ]]>
</script>