<!DOCTYPE html>
<html>
<head>
  <title>PolarisManage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "wrap">
	<%= render "layouts/header" %>
	<div id = "content">
		<div id="right">
			<div class="post">
				<div class="clear"></div>
				<%= yield %>
			</div>
			<div class = "clear2"></div>
		</div>
		<% if signed_in? && (@clients || @array_promotion) %>
		<div id="sidebar">
			<div id="searchbar">
				<div id="padding_search">
					<div class="searchbox">
 						<form>
							<input type="text" id="search" maxlength="255" placeholder="search">
						</form>
 						<div class="clear"></div>
					</div>
					<% if @clients %>
						<div id="clients_list" style="margin-top: 15px;">
							<% if current_user.super? %>
								<% @clients.each_with_index do |client, index| %>
									<% if (params[:id] && client.id == params[:id].to_i) || (!params[:id] && index == 0) %>
										<div><%= link_to "", "#{edit_client_path(client)}##{index}", class: "edit_client" %><%= link_to client.client_name, "#", class: "client_name active", id: "#{index}", onclick: "reloadFlex('.flexme4', '#{get_promotions_list_clients_path}?id=#{client.id}', '##{index}', '.client_name', '#client_name', #{Settings.MAX_LENGTH_CLIENT_NAME})" %></div>
									<% else %>
										<div><%= link_to "", "#{edit_client_path(client)}##{index}", class: "edit_client" %><%= link_to client.client_name, "#", class: "client_name", id: "#{index}", onclick: "reloadFlex('.flexme4', '#{get_promotions_list_clients_path}?id=#{client.id}', '##{index}', '.client_name', '#client_name', #{Settings.MAX_LENGTH_CLIENT_NAME})"%></div>
									<% end %>
								<% end %>
							<% else %>
								<% @clients.each_with_index do |client, index| %>
									<% if (params[:id] && client.id == params[:id].to_i) || (!params[:id] && index == 0) %>
										<div><%= link_to client.client_name, "#", class: "client_name active", id: "#{index}", onclick: "reloadFlex('.flexme4', '#{get_promotions_list_clients_path}?id=#{client.id}', '##{index}', '.client_name', '#client_name', #{Settings.MAX_LENGTH_CLIENT_NAME})" %></div>
									<% else %>
										<div><%= link_to client.client_name, "#", class: "client_name", id: "#{index}", onclick: "reloadFlex('.flexme4', '#{get_promotions_list_clients_path}?id=#{client.id}', '##{index}', '.client_name', '#client_name', #{Settings.MAX_LENGTH_CLIENT_NAME})"%></div>
									<% end %>
								<% end %>
							<% end %>
						</div>
					<% elsif @array_promotion %>
					    <div id="promotions_list" style="margin-top: 15px;">
							<% if current_user.super?  || current_user.agency? %>
								<% @array_promotion.each_with_index do |promotion, index| %>
									<% if (params[:id] && promotion.id == params[:id].to_i) || (!params[:id] && index == 0) %>
										<div><%= link_to "", "#{edit_promotion_path(promotion)}##{index}", class: "edit_promotion" %><%= link_to promotion.promotion_name, "#{promotion_path(promotion)}##{index}", class: "promotion_name active", id: index %></div>
									<% else %>
										<div><%= link_to "", "#{edit_promotion_path(promotion)}##{index}", class: "edit_promotion" %><%= link_to promotion.promotion_name, "#{promotion_path(promotion)}##{index}", class: "promotion_name", id: index %></div>
									<% end %>
								<% end %>
							<% else %>
								<% @promotions.each_with_index do |promotion, index| %>
									<% if (params[:id] && promotion.id == params[:id].to_i) || (!params[:id] && index == 0) %>
										<div><%= link_to "#{edit_promotion_path(promotion)}##{index}", "#{promotion_path(promotion)}##{index}", class: "promotion_name active", id: index %></div>
									<% else %>
										<div><%= link_to "#{edit_promotion_path(promotion)}##{index}", "#{promotion_path(promotion)}##{index}", class: "promotion_name", id: index %></div>
									<% end %>
								<% end %>
							<% end %>
						</div>
					<% end %>
					
				</div>
			</div>
		</div>
		<% end %>
		<div class="clear"></div>
	</div>
<script type="text/javascript">
    $('input#search').quicksearch('div#clients_list div',{
    	"selector" : "a.client_name" 
    });
    $('input#search').quicksearch('div#promotions_list div',{
    	"selector" : "a.promotion_name" 
    });
</script>
	<%= render "layouts/footer" %>
</div>
</body>
</html>
