<!DOCTYPE html>
<html>
<head>
  <title>PolarisManage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "wrap">
	<%= render "layouts/header" %>
	<div id = "content">
		<div id="right">
			<div class="post">
				<div class="clear"></div>
				<%= yield %>
			</div>
			<div class = "clear2"></div>
		</div>
		<% if signed_in? && @clients %>
		<div id="sidebar">
			<div id="searchbar">
				<div id="padding_search">
					<div class="searchbox">
 						<form>
							<input type="text" id="search" maxlength="255">
						</form>
 						<div class="clear"></div>
					</div>
					
						<div id="clients_list" style="margin-top: 15px;">
							<% @clients.each do |client| %>
								<% if @clientId && client.id == @clientId.to_i %>
									<div><%= link_to "", edit_client_path(client), class: "edit_client" %><%= link_to client.client_name, client_path(client), class: "client_name active" %></div>
								<% else %>
									<div><%= link_to "", edit_client_path(client), class: "edit_client" %><%= link_to client.client_name, client_path(client), class: "client_name" %></div>
								<% end %>
							<% end %>
						</div>
					
				</div>
			</div>
		</div>
		<% end %>
		<div class="clear"></div>
	</div>
<script type="text/javascript">
    $('input#search').quicksearch('div#clients_list div',{
    	"selector" : "a.client_name" 
    });
</script>
	<%= render "layouts/footer" %>
</div>
</body>
</html>