<tr>
  <th><%= f.label t("account.sync_account_id") %></th>
  <td><%= f.radio_button :sync_flg, 1, checked: true, onclick: "active_sync_box();" %> <%= I18n.t("account.synchronism") %>
				            <%= f.radio_button :sync_flg, 0, onclick: "disable_sync_box();" %> <%= I18n.t("account.fractured") %></td>
</tr>
<tr>
  <th></th>
  <td>
    <%= f.text_field :sync_account_id, maxlength: 255, style: "width: 250px", placeholder: " ID: " %>
  </td>
</tr>
<tr>
<th></th>
<td><%= f.password_field :sync_account_pw, maxlength: 255, style: "width: 250px", placeholder: " PW: " %></td>
</tr>