<%= stylesheet_link_tag "css/common" %>
<%= stylesheet_link_tag "css/accounts" %>
<ul class="contentNavi">
    <li class="pre"><%= link_to @promotion.client.client_name, clients_path %></li>
    <li>&gt;</li>
    <li class="pre"><%= link_to @promotion.promotion_name, promotions_path %></li>
    <li>&gt;</li>
    <li><%= I18n.t("account.crumb_edit") %>/<%= t("media_categories")[@account.media_category_id]%>/<%= @account.media.media_name%> </li>
</ul>
        
<% if flash[:success] %>
  <div><%= flash[:success] %></div>
<% end %>
<div id="account_form">
<%= form_for(@account) do |f| %>
    <div class="regist_form">
      <table class="account_info">
        <tr>
          <th> <%= f.label t("account.media_category") %></th>
          <td ><input type="text" name="media_category" value="<%= t("media_categories")[@account.media_category_id]%>" disabled="disabled"></td>
        </tr>
        <tr>
          <th><%= f.label t("account.media") %></th>
          <td >
          	<input type="text" name="media_id" value="<%= @account.media.media_name%>" disabled="disabled">
            </td>
        </tr>
        <tr>
          <th><%= f.label t("account.account_name") %></th>
          <td > <%= f.text_field :account_name, maxlength: 15, style: "width: 250px" %>  </td>
        </tr>
        <tr>
          <th><%= f.label t("account.roman_name") %></th>
          <td ><%= f.text_field :roman_name, maxlength: 255, style: "width: 250px" %></td>
        </tr>
        <tr>
          <th><%= f.label t("account.cost") %></th>
          <td ><%= f.text_field :cost, maxlength: 3, value: 100, style: "width: 50px" %> %</td>
        </tr>
        <tr>
          <th><%= f.label t("account.sync_account_id") %></th>
          <td><%= f.radio_button :sync_flg, 1 , :checked=>true%> <%= I18n.t("client.contract_type.unrecovered") %>
            <%= f.radio_button :sync_flg, 0 %> <%= I18n.t("client.contract_type.been_recovered") %></td>
        </tr>
        <tr>
          <th></th>
          <td>
            <%= f.text_field :sync_account_id, maxlength: 255, style: "width: 250px", placeholder: " ID: " %>
          </td>
        </tr>
        <th></th>
        <td><%= f.text_field :sync_account_pw, maxlength: 255, style: "width: 250px", placeholder: " PW: " %></td>
        </tr>
      </table>
      <div class="submit_area">
        <input type="image" id="btn_submit" src="/assets/btn_done.gif" >
        <%= link_to raw('<img align="right" alt="キャンセル" src="/assets/btn_cancel.gif">'), promotions_path %>
      </div>
    </div>
    <input type="hidden" name="promotion_id" value="<%= @promotion.id %>">
<% end %>
</div>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$("#account_sync_flg_0").click(function() {
		if ($("#account_sync_flg_0").is(':checked')) {
			$("#account_sync_account_id").attr('disabled','disabled');
			$("#account_sync_account_pw").attr('disabled','disabled');
		}	
	});
	$("#account_sync_flg_1").click(function() {
		if ($("#account_sync_flg_1").is(':checked')) {
			$("#account_sync_account_id").removeAttr('disabled');
			$("#account_sync_account_pw").removeAttr('disabled');
		}	
	});
	
	if ($("#account_sync_flg_0").is(':checked')) {
		$("#account_sync_account_id").attr('disabled','disabled');
		$("#account_sync_account_pw").attr('disabled','disabled');
	}	
});	
</script>	
