<%= stylesheet_link_tag "css/common" %>
<%= stylesheet_link_tag "css/accounts" %>
<%= link_to @promotion.client.client_name, clients_path %> > <%= link_to @promotion.promotion_name, promotions_path %> > Account Register
<% if flash[:success] %>
    <div><%= flash[:success] %></div>
<% end %>
<p class="h2"><%= I18n.t("account.crumb_add") %></p>
<%= form_for(@account) do |f| %>
    <div class="regist_form">
      <table class="account_info">
        <tr>
          <th> <%= f.label t("account.media_category") %></th>
          <td><%= select_tag :media_category_id, "<option value = 0 >Listing ad</option><option value = 1 >Display ad</option><option value = 2 >Affiliate</option>".html_safe, class: "input-text" %></td>
        </tr>
        <tr>
          <th><%= f.label t("account.media") %></th>
          <td>
            <select name="account[media_id]" id="media_id">
              <option value=1>Google Adwords</option>
              <option value=2>Yahoo sponsered search</option>
              <option value=3>Others</option>
            </select>
          </td>
        </tr>
        <tr>
          <th><%= f.label t("account.account_name") %></th>
          <td> <%= f.text_field :account_name, maxlength: 15, style: "width: 250px" %>  </td>
        </tr>
        <tr>
          <th><%= f.label t("account.roman_name") %></th>
          <td><%= f.text_field :roman_name, maxlength: 255, style: "width: 250px" %></td>
        </tr>
        <tr>
          <th><%= f.label t("account.cost") %></th>
          <td><%= f.text_field :cost, maxlength: 3, value: 100, style: "width: 50px" %> %</td>
        </tr>
        <tr>
          <th><%= f.label t("account.sync_account_id") %></th>
          <td><%= f.radio_button :sync_account_id, 0 %> <%= I18n.t("client.contract_type.unrecovered") %>
            <%= f.radio_button :sync_account_id, 1 %> <%= I18n.t("client.contract_type.been_recovered") %></td>
        </tr>
        <tr>
          <th></th>
          <td>
            <input type="text" name="name" id="id" value="Google＋31344938595@septeni.co.jp" class="input-text" disabled="disabled">
          </td>
        </tr>
        <th></th>
        <td><input type="text" name="name" id="pw" value="****************" class="input-text" disabled="disabled"></td>
        </tr>
      </table>
      <div class="submit_area">
        <input type="image" id="btn_submit" src="/assets/btn_done.gif">
        <%= link_to raw('<img align="right" alt="キャンセル" src="/assets/btn_cancel.gif">'), promotions_path %>
      </div>
      <input type="hidden" name="promotion_id" value="<%= @promotion.id %>">
<% end %>